
* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

$grey-background: #f6f6f6;

$heart-size: 25px;

$box-shadow: 2px 2px 8px grey;

$breakpoints: (tablet: 768px, desktop: 1200px);

$linear-gradient: linear-gradient(to bottom right,  $color-secondary, $color-primary);

@mixin tablet-only {
    @media screen and (min-width: map-get($map:$breakpoints, $key:tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($map:$breakpoints, $key:desktop)) {
        @content;
    }
}

@mixin degraded-button{
    width: 217px;
    height: 50px;
    background: $linear-gradient;
    color: white;
    font-size: 1em;
    border-radius: 25px;
    box-shadow: $box-shadow;
    border: none;
}

@mixin logo-heading-style($font-size) {
    font-family: 'Shrikhand', cursive, Arial, Helvetica, sans-serif;
    font-size: $font-size;
}

@mixin heart-style {
    font-size: $heart-size;
    position: relative;
    max-width: 25px;
}

@mixin button-hover {
    opacity: 0.8;
    box-shadow: 2px 2px 12px #8729fa;
}

@mixin heart-animation {
    @include heart-style;
    cursor: pointer;
    background: $linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 1000ms;
    &:hover {
        opacity: 1;
    } 
}

@keyframes loading-translate {
    100% {
        display: none;
        visibility:hidden;  
    }
}

@keyframes loading-spinner {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes loading-menu {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes check-turn {
    100% {
        transform: rotate(-1turn);
    }
}

.bold {
    font-weight: bold;
}

p {
    margin: 0%;
}

body {
    margin: 0%;
    #blocpage {
    width: 375px;
    }
}

.index-before {
  min-height: 200%;
  
  z-index : 9999;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0%;
  animation: loading-translate 3s;
  animation-fill-mode: forwards;
    &__loading {
        height: 20px;
        padding: 5px;
        box-shadow: 2px 2px 12px #8729fa;
        border-radius: 25px;
        margin-top: 25%;
        margin-left: 5%;
        margin-right: 5%;
        &__spinner {
            height: 20px;
            background: $linear-gradient;
            border-radius: 25px;
            animation: loading-spinner 3s 500ms cubic-bezier(.26,.86,.6,.99);
            animation-fill-mode: backwards;
            transform-origin: 0% 50%;
        }
    }
}

header {
    display: flex;
    align-items: center;
    height: 63px;
}

.header__logo {
    @include logo-heading-style(2em);
    width: 165px;
    margin-left: auto;
    margin-right: auto;
}

.geolocation {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        width: 155px;  
    }
    &__form__input {    
        border: none;
        background-color: #eaeaea;
        font-size: 1.1em;
        width: 125px;
    }
}

.presentation {
    height: 288px;
    background-color: $grey-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__p1 {
        width: 230px;
        padding-top: 44px;
        padding-bottom: 23px;
        font-size: 1.3em;
    }
    &__p2 {
        padding-top: 0px;
        padding-bottom: 30px;
        font-size: 1.1em;
    }
    &__p3 {
        @include degraded-button;
        line-height: 50px;
        cursor: pointer;
        & a {
            text-decoration: none;
            color: white;
        }
        &:hover {
            @include button-hover;
        }
    }
}

.fonctionnement {
    height: 440px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    @include tablet-only {
        height: 350px;
        max-width: 768px;  
    }
    @include desktop-only {
        max-width: 1200px;
    }
    &__heading {
        padding-top: 53px;
        padding-left: 20px;
        height: 50px;
        font-size: 1.3em;
        @include desktop-only {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    &__block-tabs {
        display: flex;
        flex-direction: column;
        margin-left: 33px;
        margin-right: 20px;
        @include tablet-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 250px;
            max-width: 768px;
        }
        @include desktop-only {
            max-width: 1200px;
        }
    }
    &__tabs {
        display: flex;
        margin-top: 0px;
        margin-bottom: 25px;
        height: 75px;
        width: 325px;
        border-radius: 25px;
        box-shadow: $box-shadow;
        background-color: $grey-background;
        align-items: center;
        &--color-secondary_lighten {
            background-color: lighten($color-primary, 34%);
        }
        @include tablet-only {
            margin-bottom: 0px;
            &:nth-child(3) {
                margin-left: auto;
                margin-right: auto;
            }
        }
        @include desktop-only {
            &:nth-child(3) {
                margin-left: 0%;
                margin-right: 0%;
            }
        }
    }
    &__tabs__circles {
        background-color: #9356DC;
        height: 25px;
        width: 25px;
        border-radius: 12.5px;
        text-align: center;
        line-height: 25px;
        position: relative;
        right: 12px;
    }
    &__tabs__icons {
        padding-left: 35px;
        font-size: 1.2em;
    }
    .mobile, .list {
        color: grey;
    }

    .store {
        color: #9356DC;
    }
    &__tabs__titles {
        padding-left: 25px;
    }
}

.restaurants {
    height: 1225px;
    background-color: $grey-background;
    @include tablet-only {
        height: 750px;
    }
    &__heading {
        padding-top: 60px;
        font-size: 1.3em;
        padding-left: 20px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1060px;
        padding-top: 30px;
        padding-left: 20px;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        @include tablet-only {
            flex-direction: row;
            flex-wrap: wrap;
            padding-right: 20px;
            height: 600px;
            max-width: 768px;
        }
        &__imageblocks {
            height: 252px;
            width: 333px;
            border-radius: 20px;
            background-color: white;
            box-shadow: $box-shadow;
            position: relative;
        }
    }
}

.imageblocks {
    &__photoblocks{
        height: 175px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        & img {
            width: 100%; 
        }
    }
    &__legend {
        padding-top: 20px;
        padding-left: 15px;
        & p {           
            padding-bottom: 6px;
        }
        &__hearts {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 87%;
            bottom: 10%;
            .far-index {
                @include heart-style;
                position: absolute;
            }
            .fas-index {
                @include heart-animation;
                position: absolute;
                z-index: 1;   
            }
        }
    }
    &__thumbnail__nouveau {
        color: darken($color-tertiary, 45%);
        background-color: $color-tertiary;
        width: 80px;
        height: 30px;
        position:relative;
        bottom: 220px;
        left: 70%;
        line-height: 30px;
        text-align: center;
        border-radius: 2px;
    } 
}

.footerAll {
    height: 200px;
    color: white;
    background-color: #353535;
    display:flex;
    flex-direction: column;
    padding-left: 25px;
    &__logo {
        height: 40px;
        padding-top: 20px;
        @include logo-heading-style(1.2em)
    }
    &__links {
        height: 120px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        @include tablet-only {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 50px;   
        }
        @include desktop-only {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 100px;   
        }
        & p {
            line-height: 27px;
        }
        & a {
            text-decoration: none;
            color: white;
        }
        &__proposition
        {
            padding-left: 10px;
        }
        &__partner
        {
            padding-left: 4px;
        }
    }
}


/*MENUS*/ 


.index-link {
    font-size: 1.5em;
    color: black;
    margin-left: 110%;   
}

.photo {
    height: 255px;
    overflow: hidden;
    &__lpdg  {
        width: 110%;
    }
    &__lne {
        width: 100%;
        position: relative;
        bottom: 40%;
    }
    &__alf {
        width: 100%;
        position: relative;
        top: 10%;
    }
    &__ldds {
        width: 100%;
    }
}
.menu {
    height: 1250px;
    background-color: $grey-background;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    margin-top: -35px;
    &--extend-tabs-number {
        height: 1340px;
    }
    &--extend-tabs-height {
        height: 1270px;
    }
    &__heading {
        @include logo-heading-style(1.8em);
        padding-top: 40px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        &__hearts {
            margin: 0;
            height: 42px;
            margin-top: 12px;
            margin-right: 25px;
            .far-menu {
                @include heart-style;
                position: absolute;   
            }
            .fas-menu {
                @include heart-animation;
                position: absolute;
                z-index: 1;
            }
        }
    }
    &__block {
        max-width: 375px;
        margin-left: auto;
        margin-right:auto;
        @include tablet-only {
            max-width: 768px;           
        }    
        @include desktop-only {
            max-width: 1400px;    
        }
    }
    &__block__section {
        &:nth-child(1) {
            animation: loading-menu 1s;
        }
        &:nth-child(2) {
            animation: loading-menu 2s;
        }
        &:nth-child(3) {
            animation: loading-menu 3s;
        }
        height: 290px;
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 375px;
        &--extend-tabs-height {
            height: 310px;
        }
        &--extend-tabs-number {
            height: 380px;
        }
        @include tablet-only {
            max-width: 768px;           
        }    
        @include desktop-only {
            max-width: 1400px;    
        }
        &__heading {
            margin-left: 20px;
            font-size: 1.1em;
            border-bottom: 2px solid $color-tertiary;
            width: 40px;
            align-self: flex-start;
        }
        &__block-tabs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 20px;
            height: 260px;
            &--extend-tabs-number {
                height: 350px;
            }
            &--extend-tabs-height {
                height: 280px;
            }
            @include tablet-only {
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 728px;   
            }
            @include desktop-only{
               min-width: 1160px;
               align-items: center;
               
            }
        }

        &__tabs {
            cursor: pointer;
            width: 345px;
            height: 70px;
            background-color: white;
            border-radius: 20px;
            box-shadow: $box-shadow;
            overflow: hidden;
            &:hover &__legend__heading, &:hover &__legend__description {
                max-width: 225px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            } 
            &--extend-tabs-height {
                height: 90px;
            }
            &__legend {
                height: 70px;
                &--extend-tabs-height {
                    height: 90px;
                }             
                &__heading {
                    padding-top: 11px;
                    padding-left: 13px;
                    font-size: 1.1em;
                    max-width: 280px;                    
                }
                &__description {
                    padding-top: 6px;
                    padding-left: 11px;
                    max-width: 284px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &--extend-tabs-height {
                        padding-top: 4px;    
                    } 
                }
                &__animate-box {
                    border-radius: 0px 20px 20px 0px;
                    width: 120px;
                    height: 70px;
                    position: relative;
                    left: 285px;
                    bottom: 70px;
                    transition: transform 500ms ease-in-out;
                    &:hover {
                        transform: translateX(-60px);
                    }
                    &--extend-tabs-height {
                        height: 90px;
                        bottom: 90px;
                    }
                    &__price {
                        margin: 0;
                        width: 40px;
                        line-height: 70px;
                        height: 70px;
                        padding-left: 20px;
                        &--extend-tabs-height {
                            height: 90px;
                            line-height: 90px;
                        }
                    }
                    &__checking-box {
                        position: relative;
                        bottom: 70px;
                        margin-left: 60px;
                        width: 42.5px;
                        height: 70px;
                        background-color: $color-tertiary;
                        border-radius: 0px 20px 20px 0px;
                        font-size: 25px;
                        line-height: 70px;
                        padding-left: 17.5px;
                        color: white;
                        &--extend-tabs-height {
                            height: 90px;
                            line-height: 90px;
                            bottom: 90px;
                        }  
                        .fa-check-circle {
                            height: 70px;
                            line-height: 70px;
                            position: relative;
                            right: 365px;
                            width: 12.5px;
                            padding-left: 365px;
                            transform-origin: 100% 50%;
                            &:hover {
                                animation: check-turn 500ms ease-in-out;
                            }
                        }             
                    }                
                } 
            } 
        }
    }
    &__order-box {
        display:flex;
        justify-content: center;
    }
    &__order-button {
        @include degraded-button;
        margin-top: 55px;
        cursor: pointer;
        &:hover {
            @include button-hover;
        }
    }
}








